.contact-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

.contact-icon-lin {
    background-color: #0EA86C;
    color: #B8F4BB;
    border-radius: 50%;
    font-size: 90px;
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .80));
    height: 90px;
}

.contact-icon-lin:hover {
    color: white;
}

.contact-icon-git {
    background-color: #0EA86C;
    color: #B8F4BB;
    border-radius: 50%;
    font-size: 90px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .80));
    height: 90px;
}

.contact-icon-git:hover {
    color: white;
}

.contact-icon-gmail {
    background-color: #0EA86C;
    color: #B8F4BB;
    border-radius: 50%;
    font-size: 80px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3px;

    top: 0;
    left: 50;
    filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .80));
    height: 90px;
    width: 90px;
    transform: translateY(-25px);
    box-sizing: border-box;
}

.contact-icon-gmail:hover {
    color: white;
}

.panda-container {
    width: 325px;
    width: 600px;
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50px);
}

@media screen and (max-width: 600px) {
    .contact-icon-lin {
        font-size: 80px;
        height: 80px;
        width: 80px;
    }
    .contact-icon-git {
        font-size: 80px;
        height: 80px;
        width: 80px;
    }
    .contact-icon-gmail {
        font-size: 70px;
        height: 80px;
        width: 80px;
    }
    .panda-container {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .contact-icon-lin {
        font-size: 75px;
        height: 75px;
        width: 75px;
        filter: drop-shadow(15px 7px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-git {
        font-size: 75px;
        height: 75px;
        width: 75px;
        filter: drop-shadow(15px 7px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-gmail {
        font-size: 65px;
        height: 75px;
        width: 75px;
        filter: drop-shadow(15px 7px 4px rgba(0, 0, 0, .80));
    }
    .panda-container {
        width: 425px;
    }
}

@media screen and (max-width: 450px) {
    .contact-icon-lin {
        font-size: 70px;
        height: 70px;
        width: 70px;
        filter: drop-shadow(13px 6px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-git {
        font-size: 70px;
        height: 70px;
        width: 70px;
        filter: drop-shadow(13px 6px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-gmail {
        font-size: 60px;
        height: 70px;
        width: 70px;
        filter: drop-shadow(13px 6px 4px rgba(0, 0, 0, .80));
    }
    .panda-container {
        width: 375px;
        height: 450px;
    }
}

@media screen and (max-width: 400px) {
    .contact-icon-lin {
        font-size: 65px;
        height: 65px;
        width: 65px;
        filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-git {
        font-size: 65px;
        height: 65px;
        width: 65px;
        filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, .80));
    }
    .contact-icon-gmail {
        font-size: 55px;
        height: 65px;
        width: 65px;
        filter: drop-shadow(13px 6px 4px rgba(0, 0, 0, .80));
    }
    .panda-container {
        width: 325px;
        height: 425px;
    }
}

@media screen and (max-width: 350px) {
    .panda-container {
        width: 275px;
        height: 400px;
    }
}