.computer {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    width: 500px;
    filter: drop-shadow(23px 0px 4px rgba(0, 0, 0, .80));
    transform: translateX(20px);
}

@media screen and (max-width: 600px) {
    .computer {
      width: 475px;
    }
  } 
  
  @media screen and (max-width: 500px) {
    .computer {
      width: 450px;
    }
  } 
  
  @media screen and (max-width: 450px) {
    .computer {
      width: 400px;
    }
  } 
  
  @media screen and (max-width: 400px) {
    .computer {
      width: 360px;
    }
  } 
